body {
  
  font-family: tahoma;
  overflow: hidden;
  background: #2e5261; 
}

.main {
  position: relative;
  padding: 70px px 200px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

 #img {
  position: relativ;
  width: 350px;
  height: 350px;
  margin-top: 100px;
  margin-left: 100px;
  border-radius: 200px;
}

.main #img:hover {
  box-shadow: 2px 2px 3px 3px white;
}

.main .text p {
  color: white;
  margin-top: -370px;
  margin-bottom: 0px;
  font-size: 18px;
}

p, .text {
  width: 75%;
  position: relative;
  line-height: 1.4em;
  font-family: arial black;
  text-align: justify;
  padding-left: 24%;
  
}

#p {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 75%;
  font-size: 18px;
  padding-left: 24%;
}

.title{
  position: relative;
  color: white;
  font-size: 45px;
  margin-top: 20px;
  text-transform: capitalize;
  padding-left: 480px;
  font-family: arial black
}